
set bell-style none
set editing-mode emacs
set show-all-if-ambiguous On
set expand-tilde On
set completion-query-items 500
set mark-directories On
set mark-symlinked-directories On
set page-completions Off

# "\M-9": start-kbd-macro
# "\M-0": end-kbd-macro
# "\M--": call-last-kbd-macro

"\C-SPACE": set-mark

"\C-x\C-x": exchange-point-and-mark

"\C-w": kill-region

"\C-]": character-search

"\C-[": character-search-backward

